node_modules
.DS_Store
.env
.env.*
dist
build
.vite
coverage
forms/forms/node_modules/
pnpm-lock.yaml
backups/
archive/
reports/*.pdf

# Database policy
tables.md
database_data.sql
database_dump.sql

# # Internal Documentation
# docs/


# Deployment and Temporary files
deploy_tmp/
delete-this/
forms-upload/
*.zip
*.log
*.temp
passenger_log_tmp.txt
api-htaccess.txt
debug_pdf.js
npm
$null
server/.env
server/.env.production
server/package.json.production
server/.htaccess-domain-api-subfolder
server/server-dist.js
server/test-db.js
server/backend.zip

# IDE and System
.vscode/
.idea/
Thumbs.db
