/*!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.5.25-MariaDB, for Linux (x86_64)
--
-- Host: localhost    Database: falolega_tpms
-- ------------------------------------------------------
-- Server version	10.5.25-MariaDB-cll-lve

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `case_history`
--

LOCK TABLES `case_history` WRITE;
/*!40000 ALTER TABLE `case_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `case_notes`
--

LOCK TABLES `case_notes` WRITE;
/*!40000 ALTER TABLE `case_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `case_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
INSERT INTO `clients` VALUES ('35015825-d1a3-4cd2-b73e-890e1b781489','Trial LLC',NULL,'COMPANY','USA',NULL,NULL,NULL,NULL,'2026-03-06 05:41:44','2026-03-06 05:41:44',NULL),('4774a422-40b9-4934-b8f7-d8cfd360eb6c','Abebe Bekele',NULL,'INDIVIDUAL','Ethiopia','abebebek@gmail.com','Bole Street','Addis Ababa','1000','2026-02-21 18:00:57','2026-02-21 18:00:57',NULL);
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `deadlines`
--

LOCK TABLES `deadlines` WRITE;
/*!40000 ALTER TABLE `deadlines` DISABLE KEYS */;
/*!40000 ALTER TABLE `deadlines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `eipa_form_payloads`
--

LOCK TABLES `eipa_form_payloads` WRITE;
/*!40000 ALTER TABLE `eipa_form_payloads` DISABLE KEYS */;
/*!40000 ALTER TABLE `eipa_form_payloads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `fee_schedules`
--

LOCK TABLES `fee_schedules` WRITE;
/*!40000 ALTER TABLE `fee_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `fee_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `invoice_items`
--

LOCK TABLES `invoice_items` WRITE;
/*!40000 ALTER TABLE `invoice_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `jurisdictions`
--

LOCK TABLES `jurisdictions` WRITE;
/*!40000 ALTER TABLE `jurisdictions` DISABLE KEYS */;
/*!40000 ALTER TABLE `jurisdictions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `mark_assets`
--

LOCK TABLES `mark_assets` WRITE;
/*!40000 ALTER TABLE `mark_assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `mark_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `nice_class_mappings`
--

LOCK TABLES `nice_class_mappings` WRITE;
/*!40000 ALTER TABLE `nice_class_mappings` DISABLE KEYS */;
/*!40000 ALTER TABLE `nice_class_mappings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `nice_classes`
--

LOCK TABLES `nice_classes` WRITE;
/*!40000 ALTER TABLE `nice_classes` DISABLE KEYS */;
/*!40000 ALTER TABLE `nice_classes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `oppositions`
--

LOCK TABLES `oppositions` WRITE;
/*!40000 ALTER TABLE `oppositions` DISABLE KEYS */;
/*!40000 ALTER TABLE `oppositions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `trademark_cases`
--

LOCK TABLES `trademark_cases` WRITE;
/*!40000 ALTER TABLE `trademark_cases` DISABLE KEYS */;
/*!40000 ALTER TABLE `trademark_cases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES ('76bdc2a3-270f-4321-a75b-708f826da333','Israel Seleshi','israelseleshi09@gmail.com','0920190438','Israel Law Firm','$2b$10$pafQXZqXU9UfSyZW7YSdS.JVGCSEgNovW0YrrnYyEdXXGIArqMrtC','LAWYER',1,1,NULL,'2026-03-07 05:16:32','2026-02-17 19:42:30','2026-03-07 10:16:32',NULL);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-07  5:17:50
