PassengerEnabled on
PassengerAppType node
PassengerStartupFile server.js
PassengerAppRoot /home/falolega/eastafricanip.com/api
PassengerNodejs /home/falolega/nodevenv/eastafricanip.com/api/20/bin/node
PassengerAppLogFile /home/falolega/logs/passenger.log

SetEnv NODE_ENV production

Options -Indexes

<FilesMatch "^.*(js|json|ts)$">
    Order allow,deny
    Deny from all
</FilesMatch>

<Files "server.js">
    Order allow,deny
    Allow from all
</Files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ server.js [QSA,L]
